/* first */
.svg {
  position: absolute;
}
.header {
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.header__icon {
  margin-top: 346px;
}
.header__text {
  max-width: 610px;
}
.header__title {
  margin: 0;
  margin-top: 63px;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.header__subtitle {
  margin: 0;
  margin-top: 27px;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.scroll__img {
  margin-top: 215px;
  padding-bottom: 119px;
}
.scroll__link:hover {
  opacity: 0.5;
}
/* second */
.section__about-us {
  margin: 160px 0;
  border: 1px solid black;
  border-top: none;
}
.about__title {
  margin-top: -20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  text-transform: uppercase;
  color: #3c3c3c;
}
.about__title::after {
  margin-top: 20px;
  content: "";
  display: block;
  width: 278px;
  height: 1px;
  background-color: black;
}
.about__title::before {
  margin-top: 20px;
  content: "";
  display: block;
  width: 278px;
  height: 1px;
  background-color: black;
}
.about__text {
  margin: 14px 0 58px 0;
}
.about__subtitle:last-child {
  margin-top: 32px;
}
.about__subtitle {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3c3c3c;
  letter-spacing: 0.2px;
}
/* third  */
.section__services {
  background: url(../img/bg2.png) no-repeat;
  background-size: cover;
}
.services__content {
  margin: 160px 0;
  position: relative;
  border: 1px solid #ffffff;
  border-top: none;
}
.services__title-text {
  position: absolute;
  top: -46px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.services__title-border {
  width: 288px;
  height: 1px;
  background-color: #ffffff;
}
.services__text {
  margin: 60px 0;
}
.services__subtitle:last-child {
  margin-top: 32px;
}

.services__subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.2px;
}
/* fourth */
.section__what-we-do {
  margin: 160px 0;
}
.what-we-do {
  position: relative;
  border: 1px solid black;
  border-top: none;
}
.what-we-do__title-text {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  text-transform: uppercase;
  color: #3c3c3c;
}
.what-we-do__title-border {
  width: 250px;
  height: 1px;
  background-color: black;
}
.text {
  margin: 59px 0;
}
.text__title {
  margin: 0;
  margin-top: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #3c3c3c;
}
.what-we-do__subtitle {
  margin: 0;
  margin-top: 26px;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3c3c3c;
}
/* fifth */
.content {
  position: relative;
}
.content__text {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  text-transform: uppercase;
  color: #ffffff;
  top: 234px;
  left: 20px;
  position: absolute;
}
/* sixth */
.section__contact {
  margin: 166px 0 0 0px;
}
.contact {
  position: relative;
  border: 1px solid black;
  border-top: none;
}
.contact__title-text {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #3c3c3c;
}
.contact__title-border {
  width: 258px;
  height: 1px;
  background-color: black;
}
.contact__text {
  margin: 60px 0;
}
.contact__subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3c3c3c;
}
.contact__btn {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  width: 290px;
  height: 58px;
  background: #3c3c3c;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18.5px 94.5px;
  color: #ffffff;
  border: 1px solid #3c3c3c;
}
.contact__btn:hover {
  color: #3c3c3c;
  background: #fff;
  border: 1px solid #3c3c3c;
}
/* seventh */
.footer {
  margin-top: 152px;
  margin-bottom: 30px;
}
.footer__logo {
  margin-right: 17px;
}
.footer__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}
