mixin contactUs
    .container
        .contactUs
            .contactUs__content
                h2.contactUs__title.d-flex.justify-content-between CONTACT us
                .row
                    .col-md-8.offset-lg-3.col-sm-12.offset-md-2 
                        p.contactUs__subtitle Planning and development is iterative. Because we are constantly coding and testing, the products we build are always ready to go live. This iterative process allows for changes as business requirements evolve.
                .row
                    .col-sm-12.col-md-6.offset-2.offset-md-3.col-lg-6.offset-lg-4        
                        button.contactUs__btn CONTACT us