.contactUs {
  margin: 160px 0;
  border: 1px solid #3c3c3c;
  border-top: none;
  &__content {
    padding: 0.1px;
  }
  &__title {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #3c3c3c;
    margin: 0;
    margin-top: -20px;

    &::after {
      margin-top: 20px;
      content: "";
      display: block;
      max-width: 259px;
      width: 100%;
      max-height: 1px;
      background: #3c3c3c;
    }
    &::before {
      margin-top: 20px;
      content: "";
      display: block;
      max-width: 260px;
      width: 100%;
      max-height: 1px;
      background: #3c3c3c;
    }
  }
  &__subtitle {
    margin-top: 40px;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3c3c3c;
    max-width: 450px;
  }
  &__btn {
    margin: 44px 0 60px 0;
    outline: none;
    border: none;
    max-width: 290px;
    width: 100%;
    height: 58px;
    background: #3c3c3c;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid transparent;
    &:hover {
      color: #3c3c3c;
      background: #ffffff;
      border: 1px solid #3c3c3c;
    }
  }
}
@media (max-width: 768px) {
  .contactUs {
    margin: 80px 0;
    &__title {
      text-align: left;
      flex-wrap: nowrap;
      font-size: 24px;
      &::after {
        content: "";
        width: 220px;
      }
      &::before {
        width: 220px;
        content: "";
      }
    }
    &__subtitle {
      margin-top: 20px;
      padding: 0 15px;
      text-align: justify;
    }
    &__btn{
      margin-left: 20px;
    }
  }
}
@media (max-width: 576px) {
  .contactUs {
    width: 104%;
    margin: 80px 0;
    &__title {
      text-align: left;
      flex-wrap: nowrap;
      font-size: 24px;
      &::after {
        content: "";
        width: 60px;
      }
      &::before {
        width: 60px;
        content: "";
      }
    }
    &__subtitle {
      margin-top: 20px;
      padding: 0 15px;
      text-align: justify;
    }
    &__btn{
      max-width: 240px;
      margin: 20px 0 30px 0px;
    }
  }
}
@media (max-width: 320px){
  .contactUs{
    &__btn{
      width: 200px;
    }
  }
}