mixin about
    .container
        .about
            .about__content
                h2.about__title.d-flex.justify-content-between ABOUT US
                .row
                    .col-6.offset-3  
                        p.about__subtitle When you work with us, you are part of a team of committed collaborators. All aspects of our software development process are integrated, iterative and agile. 
                        p.about__subtitle Our approach unifies design, development and  product management to create exceptional products. We start each project by understanding your business goals,  the user’s needs and the product requirements. Then we help translate them into effective and elegant solutions.
