mixin images
    .row
        .col-12
            .images.d-flex.flex-wrap.justify-content-between
                .images__content
                    img.images__picture.picture-1(src="../../../dist/img/Rectangle1.png", alt="")
                    p.images__text topworkz
                .images__content
                    img.images__picture.picture-2(src="../../../dist/img/Rectangle2.png", alt="")
                    p.images__text joint
                .images__content
                    img.images__picture.picture-3(src="../../../dist/img/Rectangle3.png", alt="")
                    p.images__text MArket
                .images__content
                    img.images__picture.picture-4(src="../../../dist/img/Rectangle4.png", alt="")
                    p.images__text worktop
                .images__content
                    img.images__picture.picture-5(src="../../../dist/img/Rectangle5.png", alt="")
                    p.images__text lable
                .images__content
                    img.images__picture.picture-6(src="../../../dist/img/Rectangle6.png", alt="")
                    p.images__text Kyiv