mixin images
    .images
        .images__content
            img.images__picture(src="./img/Rectangle1.png", alt="")
            p.images__text topworkz
        .images__content
            img.images__picture(src="./img/Rectangle2.png", alt="")
            p.images__text joint
        .images__content
            img.images__picture(src="./img/Rectangle3.png", alt="")
            p.images__text MArket
        .images__content
            img.images__picture(src="./img/Rectangle4.png", alt="")
            p.images__text worktop
        .images__content
            img.images__picture(src="./img/Rectangle5.png", alt="")
            p.images__text lable
        .images__content
            img.images__picture(src="./img/Rectangle6.png", alt="")
            p.images__text Kyiv