mixin images
    .images
        .images__content
            picture
                source(srcset="./img/Rectangle1.webp", type="image/webp")
                source(srcset="./img/Rectangle1.png", type="image/png")
                img.images__picture(src="./img/Rectangle1.png", alt="")
            p.images__text topworkz
        .images__content
            picture
                source(srcset="./img/Rectangle2.webp", type="image/webp")
                source(srcset="./img/Rectangle2.png", type="image/png")
                img.images__picture(src="./img/Rectangle2.png", alt="")
            p.images__text joint
        .images__content
            picture
                source(srcset="./img/Rectangle3.webp", type="image/webp")
                source(srcset="./img/Rectangle3.png", type="image/png")
                img.images__picture(src="./img/Rectangle3.png", alt="")
            p.images__text MArket
        .images__content
            picture
                source(srcset="./img/Rectangle4.webp", type="image/webp")
                source(srcset="./img/Rectangle4.png", type="image/png")
                img.images__picture(src="./img/Rectangle4.png", alt="")
            p.images__text worktop
        .images__content
            picture
                source(srcset="./img/Rectangle5.webp", type="image/webp")
                source(srcset="./img/Rectangle5.png", type="image/png")
                img.images__picture(src="./img/Rectangle5.png", alt="")
            p.images__text lable
        .images__content
            picture
                source(srcset="./img/Rectangle6.webp", type="image/webp")
                source(srcset="./img/Rectangle6.png", type="image/png")
                img.images__picture(src="./img/Rectangle6.png", alt="")
            p.images__text Kyiv