mixin images
            .images.d-flex.flex-wrap.justify-content-between
                .images__content
                    img.images__picture.picture-1(src="./img/Rectangle1.png", alt="")
                    p.images__text topworkz
                .images__content
                    img.images__picture.picture-2(src="./img/Rectangle2.png", alt="")
                    p.images__text joint
                .images__content
                    img.images__picture.picture-3(src="./img/Rectangle3.png", alt="")
                    p.images__text MArket
                .images__content
                    img.images__picture.picture-4(src="./img/Rectangle4.png", alt="")
                    p.images__text worktop
                .images__content
                    img.images__picture.picture-5(src="./img/Rectangle5.png", alt="")
                    p.images__text lable
                .images__content
                    img.images__picture.picture-6(src="./img/Rectangle6.png", alt="")
                    p.images__text Kyiv