.footer {
  margin-bottom: 30px;
  &__text {
    margin: 0;
    margin-left: 14px;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
  }
}
@media (max-width: 576px){
  .footer{
    &__logo{
      margin-right: 14px;
      margin-left: 10px;
    }
    &__text{
      font-size: 10px;
      margin: 0;
    }
  }
}