mixin footer
    .container
        .footer.d-flex.justify-content-center.align-items-center
            svg.footer__logo(xmlns='http://www.w3.org/2000/svg', width='35', height='36')
                use(xlink:href='#logo-2')
            p.footer__text &copy; 2014. All Rights Reserved Ellipsis.com