mixin whatWeDo
    .container
        .whatWeDo.wobble.animated
            .whatWeDo__content
                h2.whatWeDo__title.d-flex.justify-content-between what we do
                .row
                    .col-lg-6.offset-lg-3.d-flex.flex-column.align-items-center
                        svg.whatWeDo__content-icon.icon1(xmlns='http://www.w3.org/2000/svg', width='80', height='83')
                            use(xlink:href='#icon-1')
                        h3.whatWeDo__content-title DEsing
                        p.whatWeDo__content-subtitle Our design practice offers a full range of services including branding strategy, interaction and visual design and user experience testing. Throughout your project, our designers create and implement visual designs and workflows, solicit user feedback, and work with you to make sure what gets built is what is needed. 
                        svg.whatWeDo__content-icon.icon2(xmlns='http://www.w3.org/2000/svg', width='79', height='76')
                            use(xlink:href='#icon-2')
                        h3.whatWeDo__content-title Development 
                        p.whatWeDo__content-subtitle All engineers are fluent in the latest enterprise, mobile and web development technologies. They collaborate with your team to write, test, and improve code on a daily basis, using proven practices such as test-driven development and pair programing.
                        svg.whatWeDo__content-icon.icon3(xmlns='http://www.w3.org/2000/svg', width='79', height='91')
                            use(xlink:href='#icon-3')
                        h3.whatWeDo__content-title Product Management
                        p.whatWeDo__content-subtitle All engineers are fluent in the latest enterprise, mobile and web development technologies. They collaborate with your team to write, test, and improve code on a daily basis, using proven practices such as test-driven development and pair programing.
