.whatWeDo {
  margin: 160px 0;
  border: 1px solid #3c3c3c;
  border-top: none;
  &__content {
    padding: 0.1px;
  }
  &__title {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #3c3c3c;
    margin: 0;
    margin-top: -20px;

    &::after {
      margin-top: 20px;
      content: "";
      display: block;
      max-width: 251px;
      width: 100%;
      max-height: 1px;
      background: #3c3c3c;
    }
    &::before {
      margin-top: 20px;
      content: "";
      display: block;
      max-width: 251px;
      width: 100%;
      max-height: 1px;
      background: #3c3c3c;
    }
  }
  &__content-title {
      margin: 0;
      margin-top: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #3c3c3c;
  }
  &__content-subtitle {
    margin: 0;
    margin-top: 26px;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3c3c3c;
    max-width: 450px;
    &:last-child{
        padding-bottom: 62px;
    }
  }
}
.icon1{
    margin-top: 40px;
}
.icon2{
    margin-top: 60px;
}
.icon3{
    margin-top: 57px;
}