mixin header
    .header
        .header__wrapper
            .container
                .header__content.d-flex.flex-column.align-items-center 
                    svg.header__logo(xmlns='http://www.w3.org/2000/svg', width='69', height='71')
                        use(xlink:href='#logo')
                    h1.header__title WORKING WITH design LAB
                    p.header__subtitle We’ve been helping startups launch and grow their businesses. We help you to fill the gap between development, design and product management.
                    a.header__scroll(href="#")
                        picture
                            source(srcset="./img/scroll.svg.webp", type="image/webp")
                            source(srcset="./img/scroll.svg.png", type="image/png")
                            img.header__images(src="./img/scroll.svg.png", alt="")