mixin header
    .header
        .header__wrapper
            .container
                .header__content.content.d-flex.flex-column.align-items-center 
                    svg.content__logo(xmlns='http://www.w3.org/2000/svg', width='69', height='71')
                        use(xlink:href='#logo')
                    h1.content__title WORKING WITH design LAB
                    p.content__subtitle We’ve been helping startups launch and grow their businesses. We help you to fill the gap between development, design and product management.
                    a.content__scroll.scroll(href="#")
                        img.scroll__images(src="../../../../lesson-12-cw/dist/img/scroll.svg.png", alt="")